**.swp
buildsteps/build/
buildsteps/out/
buildsteps/destdir/
buildsteps/sources/
buildsteps/tmp
buildsteps/rootimage
buildsteps/initramfs*
buildsteps/tftproot/
buildsteps/u-boot.bin
buildsteps/rootfiles/root/.ssh/authorized_keys
buildsteps/rootfiles/etc/shadow
